In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
hostname = 'rapid-1304.vm.duke.edu'
port = '5432'
username = 'group3_read'
password = 'water3all4me'
dbname = 'postgres'


postgres_str = 'postgresql://{username}:{password}@{hostname}:{port}/{dbname}'.format(hostname=hostname,
                                                                                     port=port,
                                                                                     username=username,
                                                                                      password=password,
                                                                                     dbname=dbname)


# use these when you need to create/alter tables. DO NOT allow them to be displayed/served on a webpage, or check them into git
superuser = 'group3_superuser'
write_pw = '4FrvTiqqRWmlpBRJKexfKA=='
cnx = create_engine(postgres_str)

In [3]:
postgres_str

'postgresql://group3_read:water3all4me@rapid-1304.vm.duke.edu:5432/postgres'

In [4]:
df = pd.read_csv('data/nwis_data_mock.csv')
df = df.rename(columns={"timestamp":'ts'})

FileNotFoundError: [Errno 2] File data/nwis_data_mock.csv does not exist: 'data/nwis_data_mock.csv'

## Reading data into pandas is easy!

In [10]:
pd.read_sql_query("""SELECT a.*, b.site_name FROM nwis.daily a JOIN nwis.sites b 
ON a.nwis_site_no = b.nwis_site_no WHERE a.nwis_site_no ='02043433'""", cnx)

,ts,signal,parameter,nwis_site_no,site_name
0,2018-01-01 00:00:00-05:00,83.841608,70,02043433,"CURRITUCK SOUND ON EAST BANK AT COROLLA, NC"
1,2018-01-02 00:00:00-05:00,80.057601,70,02043433,"CURRITUCK SOUND ON EAST BANK AT COROLLA, NC"
2,2018-01-03 00:00:00-05:00,78.984653,70,02043433,"CURRITUCK SOUND ON EAST BANK AT COROLLA, NC"
3,2018-01-04 00:00:00-05:00,75.637283,70,02043433,"CURRITUCK SOUND ON EAST BANK AT COROLLA, NC"
4,2018-01-05 00:00:00-05:00,67.890876,70,02043433,"CURRITUCK SOUND ON EAST BANK AT COROLLA, NC"
...,...,...,...,...,...
361,2018-12-28 00:00:00-05:00,70.404144,70,02043433,"CURRITUCK SOUND ON EAST BANK AT COROLLA, NC"
362,2018-12-29 00:00:00-05:00,71.259196,70,02043433,"CURRITUCK SOUND ON EAST BANK AT COROLLA, NC"
363,2018-12-30 00:00:00-05:00,73.030435,70,02043433,"CURRITUCK SOUND ON EAST BANK AT COROLLA, NC"
364,2018-12-31 00:00:00-05:00,71.284935,70,02043433,"CURRITUCK SOUND ON EAST BANK AT COROLLA, NC"
365,2019-01-01 00:00:00-05:00,73.539054,70,02043433,"CURRITUCK SOUND ON EAST BANK AT COROLLA, NC"

#### Appending data to an existing table - note the use of the append option means each time this gets run, you'll add data to the new table

In [40]:
df.to_sql(name='daily', schema='nwis', con=cnx, if_exists='append', index=False) # you'll get an error without the superuser

ProgrammingError: (psycopg2.errors.InsufficientPrivilege) permission denied for table daily

[SQL: INSERT INTO nwis.daily (ts, signal, parameter, nwis_site_no) VALUES (%(ts)s, %(signal)s, %(parameter)s, %(nwis_site_no)s)]
[parameters: ({'ts': '2018-01-01', 'signal': 83.84160786786978, 'parameter': 70, 'nwis_site_no': '02043433'}, {'ts': '2018-01-02', 'signal': 80.05760053668881, 'parameter': 70, 'nwis_site_no': '02043433'}, {'ts': '2018-01-03', 'signal': 78.98465325977341, 'parameter': 70, 'nwis_site_no': '02043433'}, {'ts': '2018-01-04', 'signal': 75.63728303392006, 'parameter': 70, 'nwis_site_no': '02043433'}, {'ts': '2018-01-05', 'signal': 67.89087588373908, 'parameter': 70, 'nwis_site_no': '02043433'}, {'ts': '2018-01-06', 'signal': 67.45936247634494, 'parameter': 70, 'nwis_site_no': '02043433'}, {'ts': '2018-01-07', 'signal': 69.17480333972658, 'parameter': 70, 'nwis_site_no': '02043433'}, {'ts': '2018-01-08', 'signal': 66.63900508980993, 'parameter': 70, 'nwis_site_no': '02043433'}  ... displaying 10 of 105408 total bound parameter sets ...  {'ts': '2018-12-31', 'signal': 110.10481186329542, 'parameter': 60, 'nwis_site_no': ' \xa0'}, {'ts': '2019-01-01', 'signal': 115.23224341417213, 'parameter': 60, 'nwis_site_no': ' \xa0'})]
(Background on this error at: http://sqlalche.me/e/f405)